@font-face {
  font-family: "MyCustomFont";
  src: url("myfonts.ttf") format("truetype");
}
body {
  font-family: 'MyCustomFont', sans-serif;
  background-color: #800000; /* Bordô */
  color: #ffffff; /* Branco */
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: #ffffff; /* Branco */
}
.image-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-align: center; /* Centraliza a legenda */
}

.image-container figure {
  width: 45%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container figcaption {
  font-size: 14px;
  color: #ffffff; /* Mantém o texto branco */
  margin-top: 5px;
}
